openapi: 3.0.0
info:
  description: "This service takes in performance test result data and stores it in TimescaleDB"
  version: "1.0.0"
  title: "InCRUDibles Dash"
servers:
  - url: https://incrudibles-testing.db.pdl.cmu.edu
    description: Test server
paths:
  /oltpbench:
    post:
      summary: "Report a new set of OLTPBench results from a build"
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OLTPBenchSummary'
      responses: 
        '201':
          description: Created
        '400':
          description: Bad Request

components:
  schemas:
    OLTPBenchSummary:
      description: A build result from running all the OLTPBench results
      type: object
      required: 
        - build_id
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        timestamp:
          type: number
          format: date-time
          description: The time according to Jenkins that the test completed
        type:
          type: string
          description: The type of OLTPBench result this is (TATP)
        parameters:
          $ref: '#/components/schemas/OLTPBenchTestParameters'
        metrics:
          $ref: '#/components/schemas/OLTPBenchMetrics'

    Metadata:
      description: metadata about the test results
      type: object
      required:
        - build_id 
      properties:
        jenkins:
          $ref: '#/components/schemas/JenkinsMetadata'
        github:
          $ref: '#/components/schemas/GithubMetadata'
        noisepage:
          $ref: '#/components/schemas/NoisePageMetadata'

    JenkinsMetadata:
      description: Information gathered from Jenkins
      type: object
      required:
        - build_id 
      properties:
        build_id:
          type: string
          description: A unique identifier for the build so a user can find the build on the Jenkins server
    
    GithubMetadata:
      description: Information gathered from Github
      type: object
      properties:
        commit_id:
          type: string
          description: The unique identifier for the last commit to the branch.
        branch:
          type: string
          description: The branch that the performance test was run on

    NoisePageMetadata:
      description: Information about NoisePage relating to the test
      type: object
      required:
        - version 
      properties:
        version:
          type: string
          description: The version number of NoisePage
    
    OLTPBenchTestParameters:
      description: The settings that the test was run with
      type: object
      required:
        - scale_factor
        - terminals
        - query_mode
        - transaction_weights
      properties:
        scale_factor:
          type: number
          format: float
          description: A scale factor for the size of the database
        terminals:
          type: integer
          description: The number of cores the test was run with
        query_mode:
          default: extended
          description: The query mode the test was executed with
          enum:
            - extended
            - simple
        transaction_weights:
          type: array
          description: An array of the different transaction types and their weights
          items:
            $ref: '#/components/schemas/Transactions'
        duration:
          type: integer
          description: The number of seconds the test was run for.
            
    Transactions:
      type: object
      description: An object containing information about the performance test transaction weights
      required:
        - name
        - weight
      properties:
        name:
          type: string
          description: The name of the transaction (i.e. DELETE_CALL_FORWARDING)
        weight:
          type: integer
          description: The weight of the transaction type for the run of OLTPBench
      
    OLTPBenchMetrics:
      description: The summary statistics from a run of OLTPBench 
      type: object
      required:
        - throughput
      properties:
        throughput:
          type: number
          format: float
          description: The number of requests per second processed
        latency:
          $ref: '#/components/schemas/LatencyMetrics'

    LatencyMetrics:
      description: The mertics relating to latency
      type: object
      properties:
        l_25:
          type: integer
          description: The 25th percentile latency (microseconds)
        l_75:
          type: integer
          description: The 75th percentile latency (microseconds)
        l_90:
          type: integer
          description: The 90th percentile latency (microseconds)
        l_95:
          type: integer
          description: The 95th percentile latency (microseconds)
        l_99:
          type: integer
          description: The 99th percentile latency (microseconds)
        avg:
          type: integer
          description: The average latency (microseconds)
        median:
          type: integer
          description: The median latency (microseconds)
        min:
          type: integer
          description: The minimum latency (microseconds)
        max: 
          type: integer
          description: The maximum latency (microseconds)

    
    
    
      